<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Create A Profile</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                <%= form.label :firstname %>
                <span class="ml-auto"><%= form.text_field :firstname %></span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                <%= form.label :lastname %>
                <span class="ml-auto"><%= form.text_field :lastname %></span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                <%= form.label :user_id %>
                <span class="ml-auto"><%= form.text_field :user_id %></span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                <div class="mr-5"<%= form.label :profilepic %></div>
                <span class="ml-2 "><%= form.file_field :profilepic %></span>
              </li>


            </ul>
            <p class="address mb-5">
              <em>

                <%= form.submit %>
                <br>
                <br>
                <strong><%= link_to 'Back', posts_path %></strong>
              </em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


<% end %>
