<p id="notice"><%= notice %></p>

<h1>Photo Fun</h1>

<% @posts.each do |post| %>

    <h2><%= link_to post.title, post %></h2>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <a href="<%= post_url(post)%>">
            <div class="card-img">
            <%= image_tag(post.image.profile_size.url, class: "rounded mx-auto d-block") %>
            </div>
          </a>
        </div>
      </div>
    </div>
    <br>
    <%= post.description %>
    <br>
    <% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <hr>
<% end %>


<br>

<%= link_to 'New Post', new_post_path %>
